:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
}

/* Загальні оформлення */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: white;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


/* Навігація */

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
 padding-top: 94px;
  padding-bottom: 94px;
}


.header-container {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.site-nav {
  display: flex;
  align-items: center;
}


.logo-nav {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.site-nav .logo-nav {
  font-family: 'Raleway';
  text-decoration: none;
  color: var(--title-text-color);
  font-size: 26px;
  line-height: 1.9;
  font-weight: 700;
}


.item-list {
  display: flex;
}

/* .item-list .item {
  margin-right: 50px;
} */

.item-list .item:last-child {
  margin-right: 0px;
}


.site-nav .web-accent {
  color: var(--accent-color);
}

.site-nav .link,
.current-link {
  display: block;
  margin-right: 50px;
  /* padding-top: 32px;
  padding-bottom: 32px; */

  text-decoration: none;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.current-link {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.current-link:hover,
.current-link:focus {
  color: var(--accent-color);
}


.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list .mail-accent,
.tel-number {
  display: block;
  margin-right: 50px;
}

.mail-accent {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.mail-accent:hover,
.mail-accent:focus {
  color: var(--accent-color)
}

.tel-number {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-right: 0px;
}

.tel-number:hover,
.tel-number:focus {
  color: var(--accent-color)
}



/* Шапка */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  background-color: #2F303A;
  color: var(--primary-white-color);
}

.hero-title {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;


  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  min-width: 216px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;


  font-family: 'Roboto';
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}

.hero-button:focus {
  background-color: 188CE8;
}

.hero-button:hover {
  background-color: #188ce8;
}


/* <!--Особливості--> */

.section-list {
  display: flex;


}

.feature-list {
  display: flex;
}

.features-text {
  margin-right: 30px;

font-size: 14px;
  line-height: 1.71;
color: var(--primary-text-color);
}

.features-text:not(:last-child) {
  margin-right: 30px;
  max-width: 270px;
}

.section-list .title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}



/* Чим ми займаємось */

.section-work {
  padding-top: 0px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}


.work-list {
  display: flex;
}

.section-title {
  margin-bottom: 50px;
}

.work-item:not(:last-child) {
  margin-right: 30px;
  max-width: 370px;
}

/* Наша команда */

.team-style {
  display: flex;
}

.our-team {
  margin-left: auto;
  margin-right: auto;
  background-color: #F5F4FA;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.our-team .team-worker {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  text-align: center;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-workers {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-job {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}


/* <!--Футер--> */
.footer {
display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
}


.logo-foot {
  display: block;
  font-family: 'Raleway';
  text-decoration: inherit;
  font-weight: 700;
  color: var(--primary-white-color);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}


.logo-foot .web-accent {
  color: var(--accent-color);
}

.footer-contacts {
  display: block;
  margin-top: 20px;
}

.contacts-box {
display: block;
}

.footer-contact-item,
.footer-contact-item {
  margin-top: 9px;
}


.place {
display: block;

  font-style: normal;
  text-decoration: none;
  font-family: 'Roboto';
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.7;
}

.mail {
  margin-top: 9px;

  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
}


.number {
  margin-top: 9px;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
}

.place:hover,
.place:focus,
.mail:hover,
.mail:focus,
.number:hover,
.number:focus {
  color: var(--accent-color);
}

/*  Портфоліо */



.button-list{
display: flex;
 justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
margin-right: 8px;
}


.button-list .filtr-butt {
  display: inline-block;
  min-width: 73px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;

  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  color: var(--title-text-color);
  background-color: #F5F4FA;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
}

.button-list .filtr-butt:hover,
.button-list .filtr-butt:focus {
  background-color: var(--accent-color);
}

.portfolio {
display: flex;
flex-wrap: wrap;
}

.portfolio-img {
flex-basis: calc((100% - 60px) / 3);
}

.portfolio-img:not(:nth-child(3n)) {
margin-right: 30px;
}

.portfolio-img:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.portfolio-description {
 border:  1px solid #EEEEEE;
  border-top: transparent;
  padding: 20px 24px 24px 20px;
  text-align: left;
}

.portfolio-title {
margin-bottom: 4px;
}


.portfolio .portfolio-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
}